**BASIC PYTHON**



1.   BACK SLASH
2.   TRIPLE QUOTES

1.   STRING INSIDE THE QUOTES
2.   ESCAPE SEQUENCE OF STRING

5.   FORMATTED OUTPUT

**BACK SLASH**

In [1]:
print("HELLO WORLD")
print()
print("HELLO \
WORLD")

HELLO WORLD

HELLO WORLD

**TRIPLE QUOTES**

In [2]:
print(""" (\_/)
 (•x•)                                                           
 (<🍦)""")
#TO PRINT MULTIPLE LINES TRIPLE QUOTE IS USED , IT IS USED AS COMMENTS SOME TIMES AND SQL STATEMENTS

 (\_/)
 (•x•)
 (<🍦)

**STRING INSIDE QUOTES**

In [3]:
print("hello world")
print("python's world")
print("python\'s world")

hello world
python's world
python's world

**ESCAPE SEQUENCES IN STRING**

In [4]:
print("hello\nworld")
print("\n")
print("hello\tworld")   #\ is also used for tab
print("\n")
print("hello\a") #\a means alarm sound

hello
world


hello	world


hello

**FORMATTED OUTPUT**

In [5]:
name = "charan"
marks = 90.897
age = 89
#method 1
print("The name of the student is : " ,name," The marks os student is : ",marks," The age of the student is : ",age)
#method 2
print("The name of the student is : %10s The marks if the student is : %10.2f The age of the student is : %10d"%(name,marks,age))
#method 3
print(f"The name of the student is : {name} The marks os student is {marks} The age of the student is : {age}")

The name of the student is :  charan  The marks os student is :  90.897  The age of the student is :  89
The name of the student is :     charan The marks if the student is :      90.90 The age of the student is :         89
The name of the student is : charan The marks os student is 90.897 The age of the student is : 89

**VARIABLES**

*variables are temporary storage locations of data*

**NAMING RULES**


1.   *variables cannot start with a number*
2.   *it can start with a underscore*

1.   *it can have numbers after start but cant begin in numbers* 
2.   *variables cant be reserved keywords*

1.   *variables need to be meaning full*

In [6]:
x = 20
y = 20
print(id(x))          # both are different variables but value is stored in same memory location
print(id(y))
if1 = 10
print(if1)
_10 = 30
print(_10)
A = B = 40
print(A,B)
del if1           # after deleting if1 is not avialable

1915484384
1915484384
10
30
40 40

**TYPES OF OPERATORS**

1.   ARITHMETIC OPERATORS  (**, *, /, %, +, -, //)

1.   COMPARISON OPERSTORS  (==, <, >, <=, >=, !=)
2.   ASSIGNMENT OPERATORS  (=, +=, -=, *=, /=, **=)

4.   BITWISE OPERATORS  ( | , & , ~ , << , >> )

5.  LOGICAL OPERATORS   (AND, OR , NOT)

6.   MEMBERSHIP OPERATORS
2.   IDENTITY OPERATORS

**ARITHMETIC OPERATOR**

In [7]:
print(4/2)   #INT/INT GIVES FLOAT VALUE
print(5**5)
print(20-10)
print(10+20)
print(10%3)
print(10//3)
print(10*3)

2.0
3125
10
30
1
3
30

**COMPARISON OPERATOR**

In [8]:
a = 10
b = 20
print(a == b)
print(a>b)
print(b>a)
print(a!=b)
print(a>=b)
print(a<=b)

False
False
True
True
False
True

**ASSIGNMENT OPERATOR**

In [9]:
a = 10
b = 20
a = b
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)

40
20
400
20.0
1.048576e+26

**BITWISE OPERATOR**

In [10]:
a = 240
b = 1
print(bin(a))
print(oct(a))            #11110000 = 240    11110000         11110000 = 240 
print(hex(a))            #00000001 = 1      00000001         00000001 = 1 
                         # or operation     and operation    xor operation
print(a|b)               #11110001 = 241    00000000 = 0     11110001 = 241
print(a&b)
print(a^b)
print(a<<b) #left shift means multiply by 2 power b
print(a>>b) # right shift means divide by 2 power b

0b11110000
0o360
0xf0
241
0
241
480
120

**LOGICAL OPERATOR**

In [16]:
a = 10
b = 20
print(a == b or b!=0)
print(a == b and b!=0)
#print(10>9 and 20>M)  #error becoz 1st expression is true so checks 2nd expression which is error
print(10<9 and 20<M)  #false becoz 1st expression is false so doesn't check 2nd expression hence false
c = 0
print(not c)
print(not True)

True
False
False
True
False

**MEMBERSHIP OPERATOR**

In [17]:
str1 = "programming"
"a" in str1

True

In [19]:
"x" not in str1

False

In [20]:
"x" in str1

False

**IDENTITY OPERATOR**

In [31]:
a = 10
b = 10
c = 257
d = 257
print(a is b)    #it checks the id value of variable a and b if both equal true else false,for in range of -5 to 256 this
                        #is and is not will work and for 257 and above shows wrong results 
print(a is not b)
print(c == d)
print(c is d)

True
False
True
False

**OPERATOR PRECEDENCE**

from precedence low to high:

1.assignment operator (=)

2.lambda 

3.if - else

4.or operator

5.and operator

6.not operator

7.comparison ,identity, membership (in , not in , is , is not , > , < , >= , <=, != , ==)

8.bitwise or(|)

9.bitwise xor (^)

10.bitwise and (&)

11.shifts (>>,<<)

12.add,sub (+,-)

13.mul,div,etc (*,/,@,//,%)

14.unary operator and bitwise not(+x,-x,~x)

15.exponential

16.slicing ,call,attribute

17.list,tuple,set,dictinary

In [ ]:
print(10>8>9)
print(10>8 and 8>9)